.col-lg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 10%;
}

body {
  padding: 10px;
}

#exTab1 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

#exTab2 h3 {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

/* remove border radius for the tab */
#exTab1 .nav-pills>li>a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/
#exTab3 .nav-pills>li>a {
  border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

.default {
  width: 108px;
}

.big-box {
  height: 185px;
}
.big-box-list {
  height: 100px
}
.small-box {
  height: 134px;
}

.col-lg-3[_ngcontent-c1] {
  flex: 0 0 25%;
  max-width: 13%;
}
.message{
    color: #eee;
    background-color: #a01111;
    width: 67px;
    height: 26px;
}
.disabled {
  cursor: not-allowed;
}