.nav {
    background-color :#722872;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar {
    background-color :#722872;
   }
  
   .btn-circle {
    width: 55px;
    height: 50px;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
  }
  .btnDiv {
    position: fixed;
    bottom: 30px;
    right: 15px;
  }